service:
  env:
    SECRET_KEY: "Secret key for flask app"
    AWS_ACCESS_KEY_ID: ""
    AWS_SECRET_ACCESS_KEY: ""
    AWS_DEFAULT_REGION: "eu-west-1"

    TELEGRAM_API_ID: ""
    TELEGRAM_API_HASH: ""
    TELEGRAM_KEY: "key that was generated for real telegram client"
    TELEGRAM_BOT_TOKEN: ""